body{
  background-image: url("../images/background.jpg");
  font-family: Arial;
  color: black;
  font-size: 1em;
  line-height: 1.5;
}

img{
    height: 300px;
    width: 300px;
	margin: 3em auto;
    box-sizing: border-box;
}