body{
  background-image: url("../images/background.jpg");
  font-family: Arial;
  color: black;
  font-size: 1em;
  line-height: 1.5;
}

p,ul,ol,li{
	text-align: center;
	position: relative;
}


iframe{
	height: 360px;
    width: 490px;
	margin: 2.5em auto;
	display: block;
    box-sizing: border-box;
}


img{
    height: 300px;
    width: 300px;
	margin: 3em auto;
    box-sizing: border-box;
}