body{
  background-image: url("../images/background.jpg");
  font-family: Arial;
  color: black;
  font-size: 1em;
  line-height: 1.5;
}

/*p,ol,ul,li,nav{
	text-align: center;
	position: relative;
}*/

nav{
  background-color: #156e94;
  color: white;
  width: 100%;
  overflow: hidden;
  margin: 1em auto;
  /*text-align: center;*/
  /*border-radius: 0 0 1.5em 1.5em;*/
  float: left;
}

h1{
	margin: 1em auto;
	background-color: #85850f;
}

h2{
	text-decoration: underline;'
	text-underline-offset: 0.09em;
}

iframe{
	height: 360px;
    width: 490px;
	margin: 2.5em auto;
	display: block;
    box-sizing: border-box;
}


img{
    height: 300px;
    width: 300px;
	margin: 2em auto;
    box-sizing: border-box;

}